  /* Reset styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

  /* Font styling */

h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0 .05rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}
p,
span {
  font-size: 1.4rem;
}

  /* Variables styling */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
$Decofont: 'Josefin Sans', sans-serif,  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font: 'Poppins',  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

//Colors
$white: #fff;
$black: #000;
$maroon: #83333e;

$purple: #ae76a6;
$blue: #E2F0F1;
$darkgrey:#ddd;
$gray: #3d3d3d;

$peach: #F6A28A;
$peach-l: #FADCC2;
$orange: #F4C35A;
$pink: #FBEAE2;
$blue: #006476;
$blue-l: #E2F0F1;
$grey: #616161;

$bg-color: #f5f0ec;
$text: #12131d;
$secondary: #434448;
$background: #f7f8fb;


body{
  font-family: $font;
  font-size: small;
  color: $black;
  
}

a{
  text-decoration: none;
  &:hover{
    color: $peach;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  }
}

.container {
  padding: 4rem 0;
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
}

.w-100 {
  width: 45%;
}

.img-frame {
  width: 100%;
  padding-bottom: 66.5714%;
}

img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media only screen and (max-width: 800px) {
  .w-100 {
    width: 100%;
  }
  .container {
    padding: 2rem 0;
  }
}